# dev, test, stage, prod
ENVIRONMENT=dev

# ------ APP ------
APP_PORT=8050

# ------ DJANGO ------
DJANGO_APP_NAME=DjangoTemplate
# Generate with: openssl rand -hex 64
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_ALLOWED_HOSTS=localhost,backend,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:${APP_PORT},
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:${APP_PORT},
DJANGO_LOG_LEVEL=INFO

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=CHANGE_ME


# ------ POSTGRES ------
POSTGRES_DB=django_template
POSTGRES_USER=django_template_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=db
POSTGRES_PORT=5432


# ------ MINIO ------
MINIO_ENDPOINT=http://host.docker.internal:9000
MINIO_BUCKET_NAME=django-template-bucket
MINIO_APP_USER=django-template-app
MINIO_APP_PASSWORD=CHANGE_ME


# ------ DJANGO MINIO ------
DJANGO_MINIO_ENDPOINT=${MINIO_ENDPOINT}
DJANGO_MINIO_CUSTOM_URL=http://localhost:9000
DJANGO_MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
DJANGO_MINIO_ACCESS_KEY=${MINIO_APP_USER}
DJANGO_MINIO_SECRET_KEY=${MINIO_APP_PASSWORD}
