# dev, test, stage, prod
ENVIRONMENT=dev

# ------ DJANGO ------
DJANGO_APP_NAME=DjangoTemplate
# Generate with: openssl rand -hex 64
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_ALLOWED_HOSTS=localhost,backend,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8050,
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8050,
DJANGO_LOG_LEVEL=INFO

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=CHANGE_ME


# ------ POSTGRES ------
POSTGRES_DB=django_template
POSTGRES_USER=django_template_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=db
POSTGRES_PORT=5432


# ------ MINIO ------
MINIO_ENDPOINT=http://localhost:9050

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME
MINIO_BROWSER_REDIRECT_URL=${MINIO_ENDPOINT}/minio/ui/

MINIO_BUCKET_NAME=django-template-bucket
MINIO_APP_USER=django-template-app
MINIO_APP_PASSWORD=CHANGE_ME


# ------ DJANGO MINIO ------
DJANGO_MINIO_ENDPOINT=http://minio:9000
DJANGO_MINIO_CUSTOM_URL=${MINIO_ENDPOINT}
DJANGO_MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
DJANGO_MINIO_ACCESS_KEY=${MINIO_APP_USER}
DJANGO_MINIO_SECRET_KEY=${MINIO_APP_PASSWORD}
