name: django-template


# --- DEFAULT SERVICE ---
x-backend-defaults: &backend-defaults
  build:
    context: .
    dockerfile: ./.docker/backend/Dockerfile
  env_file:
    - ./.env
  volumes:
    - django-static:/app/static
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_healthy
    minio:
      condition: service_healthy
  restart: unless-stopped


services:
  # --- BACKEND SERVICE ---
  backend:
    <<: *backend-defaults
    expose:
      - 8000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/healthcheck/ || exit 1"]
      # test: ["CMD-SHELL", "curl -f -s -o /dev/null -w '%{http_code}' http://localhost:8000 | grep -q '200' && curl -s http://localhost:8000 | grep -q '{\"status\": \"ok\"}' || exit 1"]
      interval: 30s
      retries: 5
      start_period: 5s
      timeout: 3s
    command: bash scripts/entrypoint.sh
    restart: unless-stopped

  # --- REDIS SERVICE ---
  redis:
    image: redis:8
    expose:
      - 6379
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      retries: 5
      timeout: 3s
    restart: unless-stopped

  # --- POSTGRES SERVICE ---
  db:
    image: postgres:17.4
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    expose:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
      # test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 3s
      retries: 5
      timeout: 3s
    deploy:
      resources:
        limits:
          memory: "256m"
    restart: unless-stopped


  # --- MINIO SERVICES ---
  minio:
    # image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    # last version with full ui
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    env_file:
      - ./.env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BROWSER_REDIRECT_URL: "${MINIO_BROWSER_REDIRECT_URL}"
    expose:
      - "9000"   # S3 API
      - "9001"   # Web-консоль
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/127.0.0.1/9000'"]
      interval: 3s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  # ---------- Одноразовый инициализатор MinIO ----------
  create-buckets:
    # image: minio/mc:RELEASE.2024-11-21T17-21-54Z
    image: alpine:latest
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}
      MINIO_APP_USER: ${MINIO_APP_USER}
      MINIO_APP_PASSWORD: ${MINIO_APP_PASSWORD}
    volumes:
      - ./.docker/minio/policies:/policies
      - ./.docker/minio/init_minio.sh:/init_minio.sh
    entrypoint: ["/bin/sh", "/init_minio.sh"]
    restart: on-failure

  # --- NGINX (Единая точка входа) ---
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8050:80"    # Сайт (Django)
      - "9050:9000"   # S3 (MINIO_ENDPOINT порт должен совпадать с внешним портом)
    volumes:
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - django-static:/app/static:ro
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped


volumes:
  postgres-data:
  redis-data:
  django-static:
  minio-data:
